.root {
  padding: calc(var(--space) / 2);
}

.level {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: calc(var(--space) / 2);
  margin-bottom: var(--space);
  transition: opacity 200ms;

  @media (width >= 640px) {
    flex-direction: row;
  }
}

.result {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}

.details {
  --row-length: 12;
  @media (width >= 640px) {
    --row-length: 15;
  }
  @media (width >= 768px) {
    --row-length: 20;
  }

  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(var(--row-length), 1rem);
  grid-auto-rows: 1rem;

  & > span {
    border: 2px solid var(--game-border);
    border-radius: 0.25rem;
    background: var(--white);

    &:is([data-result="1"]) {
      background: var(--green);
    }

    &:is([data-result="0.5"]) {
      background: var(--yellow);
    }

    &:is([data-result="0"]) {
      background: var(--red);
    }

    transition: background 200ms;
  }
}

.disabled {
  opacity: 0.5;
}
